<!--
Jason Engelbrecht
4.17.2019
https://jengelbrecht.greenriverdev.com/it328/dating/
Display profile information after sign up
-->
<include href="views/includes/header.html"/>
<div class="container p-4 px-5 pb-5">
    <div class="container border p-5 bg-light shadow">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="text-center"><i class="fas fa-user-circle fa-10x"></i></p>
                <h3 class="text-center mb-4">{{ @SESSION.member->getFname() }} {{ @SESSION.member->getLname() }}</h3>
                <h5>Biography</h5>
                <p>
                    {{ @SESSION.member->getBio() }}
                </p>
            </div>

           <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mt-sm-3">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Gender: {{ @SESSION.member->getGender() }}</li>
                    <li class="list-group-item bg-light">Age: {{ @SESSION.member->getAge() }}</li>
                    <li class="list-group-item bg-light">Phone: {{ @SESSION.member->getPhone() }}</li>
                    <li class="list-group-item bg-light">Email: {{ @SESSION.member->getEmail() }}</li>
                    <li class="list-group-item bg-light">State: {{ @SESSION.member->getState() }}</li>
                    <li class="list-group-item bg-light">Seeking: {{ @SESSION.member->getSeeking() }}</li>
                    <check if="{{ get_class(@SESSION.member) == 'PremiumMember' }}">
                        <check if="{{ in_array('None selected', @SESSION.member->getIndoorInterests()) }}">
                            <true>
                                <li class="list-group-item bg-light">Interests: None selected</li>
                            </true>
                            <false>
                                <li class="list-group-item bg-light">
                                    Interests:
                                    <repeat group="{{ @SESSION.member->getIndoorInterests() }}"
                                            value="{{ @indoorInterest }}">
                                        {{ @indoorInterest }},
                                    </repeat>

                                    <repeat group="{{ @SESSION.member->getOutdoorInterests() }}"
                                            value="{{ @outdoorInterest }}" counter="{{ @ctr }}">
                                        <check if="{{ @ctr!=sizeof(@SESSION.member->getOutdoorInterests()) }}">
                                            <true>{{ @outdoorInterest }}, </true>
                                            <false>{{ @outdoorInterest }}</false>
                                        </check>
                                    </repeat>
                                </li>
                            </false>
                        </check>
                    </check>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary text-uppercase text-center mt-4" type="submit" name="submit">Contact me!</button>
            </div>
        </div>
    </div>
</div>
<include href="views/includes/footer.html"/>
