<!--
Jason Engelbrecht
Date
URL
Description
-->
<include href="views/includes/header.html"/>
<div class="container p-4 px-5 pb-5">
    <div class="container border p-5 bg-light shadow">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="text-center"><i class="fas fa-user-circle fa-10x"></i></p>
                <h3 class="text-center mb-4">Jane Doe</h3>
                <h5>Biography</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mt-sm-3">
                <ul class="list-group">
                    <li class="list-group-item bg-light">Gender: </li>
                    <li class="list-group-item bg-light">Age: </li>
                    <li class="list-group-item bg-light">Phone: </li>
                    <li class="list-group-item bg-light">Email: </li>
                    <li class="list-group-item bg-light">State</li>
                    <li class="list-group-item bg-light">Seeking: </li>
                    <li class="list-group-item bg-light">Interests: </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary text-uppercase text-center mt-4" type="submit" name="submit">Contact me!</button>
            </div>
        </div>
    </div>
</div>
<include href="views/includes/footer.html"/>
