<!--
Jason Engelbrecht
4.12.2019
https://jengelbrecht.greenriverdev.com/it328/dating
Dog dating site home page
-->
<?php $page_title = 'Home' ?>
<include href="views/includes/header.html"/>
    <div class="container-fluid p-4 px-5 pb-5">
        <div class="container-fluid border p-4 bg-light shadow landing-page-container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 information py-5">
                    <h1 class="text-center mb-3">Dog Love</h1>

                    <p class="mx-auto">Welcome to the world's best dog dating site. At <strong>Dog Love</strong>
                    we match you up with others who also love dogs! On your first date your dog will be right by
                    your side, finding new adventures that change your life as well as your furry friend. We all
                    know that people who have dogs are better so you're guaranteed to find someone awesome. Give us a
                    shot and sign up below!</p>

                    <h4 class="pt-4 text-center">Hear what our users are saying about us!</h4>

                    <hr class="my-4">

                    <p class="text-center"><em>"I met the love of life and my dog did too!" - Adriana</em></p>
                    <p class="text-center"><em>"Me and my dog fell in love on day 1, it can't get any better than this" - Morgan</em></p>
                    <p class="text-center"><em>"My dog fell in love with her dog and that was enough for me." - Jeffery</em></p>

                    <hr class="my-4">
                    <div class="text-center pb-5 pt-3">
                        <a class="btn btn-primary text-uppercase" href="info">Create a Profile</a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 image">
                    <img src="images/dog-love.jpg" alt="dog love" class="dogs-img">
                </div>
            </div>
        </div>
    </div>
<include href="views/includes/footer.html"/>
