<!--
Jason Engelbrecht
Date
URL
Description
-->
<div class="container-fluid p-4 px-5 pb-5">
    <div class="container-fluid border p-4 bg-light shadow">

        <h1 class="mb-3">Personal Information</h1>
        <hr class="my-4">

        <form method="post" action="" class>
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="form-group">
                        <h5><label for="fname">First Name</label></h5>
                        <input type="text" class="form-control" id="fname" name="fname"
                               placeholder="Please enter your first name">
                    </div>
                    <div class="form-group">
                        <h5><label for="lname">Last Name</label></h5>
                        <input type="text" class="form-control" id="lname" name="lname"
                               placeholder="Please enter your last name">
                    </div>
                    <div class="form-group">
                        <h5><label for="age">Age</label></h5>
                        <input type="text" class="form-control" id="age" name="age"
                               placeholder="Please enter your age">
                    </div>

                    <h5><label>Gender</label></h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="male"
                               id="male" value="male">
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="female"
                               id="female" value="female">
                        <label class="form-check-label" for="female">Female</label>
                    </div>

                    <div class="form-group mt-3">
                        <h5><label for="phone">Phone number</label></h5>
                        <input type="text" class="form-control" id="phone" name="phone"
                               placeholder="(123) 456-7890">
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="border p-3 text-center disclaimer">
                        <p>
                            <strong>Note:</strong> All information entered is protected
                            by our <a href="">privacy policy</a>. Profile information can only be viewed
                            by others with your permission.
                        </p>
                    </div>
                    <button class="btn btn-primary text-uppercase" type="submit" name="submit">Next ></button>
                </div>

            </div>

        </form>


    </div>
</div>