<!--
Jason Engelbrecht
Date
URL
Description
-->
<div class="container-fluid p-4 px-5 pb-5">
    <div class="container-fluid border p-4 bg-light shadow">

        <h1 class="mb-3">Profile</h1>
        <hr class="my-4">

        <form method="post" action="" class>
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <h5><label for="email">Email</label></h5>
                        <input type="text" class="form-control" id="email" name="email"
                               placeholder="myemail@gmail.com">
                    </div>

                    <div class="form-group">
                        <h5><label for="state">State</label></h5>
                        <select class="form-control" id="state" name="state">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>

                    <h5><label>Seeking</label></h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="seekMale"
                               id="seekMale" value="seekMale">
                        <label class="form-check-label" for="seekMale">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="seekFemale"
                               id="seekFemale" value="seekFemale">
                        <label class="form-check-label" for="seekFemale">Female</label>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">

                    <div class="form-group bio">
                        <h5><label for="bio">Biography</label></h5>
                        <textarea class="form-control" id="bio" rows="4"></textarea>
                    </div>

                    <button class="btn btn-primary text-uppercase" type="submit" name="submit">Next ></button>
                </div>

            </div>

        </form>


    </div>
</div>